.type-container-wrapper{
    position:relative;
    height:115px;
}
.type-container{
    position:relative;
    font-size: 24px;
    height:115px;
    overflow: hidden;
    color:#F5F5F5;
}
.type-container-wrapper:focus-visible
{
    border:none;
    outline:none;
}
.type-container:focus-visible
{
    outline:none;
    border:none;
}